{% extends 'base.html.twig' %}

{% block title %}Shoutbox Challenge!{% endblock %}

{% block body %}
    <div class="shoutbox-wrapper"
        {{ react_component('Shoutbox', {
            mercure: mercure(app.request.server.get('MERCURE_MESSAGE_TOPIC_NAME')),
            sendMessageUrl: path('app_new_message'),
            initialMessages: messages,
            maxMessagesToShow: maxMessagesToShow
        }) }}>
    </div>
{% endblock %}
