.shoutbox-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}


.messages-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 25px;

    @media screen and (min-width: 650px) {
        flex-direction: row;
    }
}

.inputs-container > div {
    gap: 25px;
    display: flex;
}

.inputs-container button {
    width: 100px;
}

.inputs-container__send-message-wrapper {
    flex-grow: 1;
}
